<html lang="en">

<head>
    <meta name="google-signin-client_id"
        content="842047957065-6t4t5dba6dbc02ljft6mrditoemap9sf.apps.googleusercontent.com" />
    <link href="https://fonts.googleapis.com/css?family=Barlow Semi Condensed" rel="stylesheet" />
    <title>Accueil | TECH2BUY</title>
</head>
<style>
    .paragraphe-princ {
    color: #000;
    font-family: "Barlow Semi Condensed";
    font-size: 3.4vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    animation: fadeIn 1s ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
    }

    @keyframes fadeIn {
    0% {
    opacity: 0;
    }

    100% {
    opacity: 1;
    }
    }

    .custom-button {
    width: 350px;
    height: 74px;
    flex-shrink: 0;
    }

    .image {
    position: absolute;
    left: 0%;
    height: 100%;
    width: 75%;
    max-width: 1300px;
    max-height: 980px;
    bottom: 0;
    }

    header {
    border: 1px solid;
    border-color: #000000;
    box-shadow: 0px 4px 10px #00000040;
    width: 100%;
    left: 0;
    position: fixed;
    top: 0;
    opacity: 0.9;
    }

    .full-background {
    background-image: url("Image page accueil.png");
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    }

    .right-section {
    position: absolute;
    right: 0;
    top: 0;
    width: 25%;
    height: 100%;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    }

    .right-section-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 1s ease-in-out;
    animation-fill-mode: forwards;
    }

    html,
    body {
    height: 100%;
    margin: 0;
    }

    .wrapper {
    min-height: 100%;
    margin-bottom: -50px;
    display: flex;
    flex-direction: column;
    }

    .footer,
    .push {
    height: 0px;
    }

    .footer {
    width: 100%;
    }
    .animate-up {
    animation: moveUpDown 1s ease-in-out;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); 
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideInFromLeft {
            0% {
                transform: translateX(-100%);
                opacity: 0;
            }
            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }

        @keyframes fadeIn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        .animated-text {
            animation: slideInFromLeft 1s ease-out forwards;
        }
</style>
<header>
    <%- include ("../partials/header.ejs") %>
</header>
<body>
    <div class="wrapper">
        <div class="full-background"></div>
        <div class="container-fluid">
            <div class="right-section">
                <div class="right-section-content animated-text">
                    <img src="output-onlinepngtools 1.png" alt="TECH2BUY Logo" style="max-width: 200px" />
                    <p class="paragraphe-princ">
                        Commencez dès maintenant à sauver en équipement technologique
                    </p>
                    <a href="./inscription" class="btn custom-button btn-outline-primary animate-up" style="border-radius: 20px; font-size: 16px; display: flex; justify-content: center; align-items: center; margin-top: 40px;">S'inscrire dès aujourd'hui</a>
                    <a href="./pageConnexion" class="btn btn-primary custom-button animate-up" style="border-radius: 20px; font-size: 16px; display: flex; justify-content: center; align-items: center; margin-top: 40px;">Se connecter</a>
                    <p>Vous êtes déjà membre TECH2BUY?</p>
                    <a href="pageAffichagePrincipale" class="btn btn-primary custom-button animate-up" style="border-radius: 20px; font-size: 16px; display: flex; justify-content: center; align-items: center; margin-top: 40px;">Accéder sans se connecter </a>
                </div>
            </div>
        </div>
        <div class="push"></div>
    </div>
</body>
<footer class="footer">
    <div style="width: 100%"><%- include ("../partials/footer.ejs") %></div>
</footer>