<style>
    

    .paragraphe-princ {
        color: #000;
        font-family: "Barlow Semi Condensed" sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .custom-button {
        width: 350px;
        height: 74px;
        flex-shrink: 0;
    }

    .image {
        padding: 0px;
        margin-right: 0;
        position: absolute;
        left: 0%;
    }
</style>

<%- include ("../partials/header.ejs") %>



<div class="container-fluid">
<div class="row">
    <div class="col-1">
        <img src="Image page accueil.png" width="1250" height="670"  class="image"/>
    </div>
    <div class="col-md-2 offset-md-9">
        <div style="max-width: 380px;">
            <p class="paragraphe-princ">Commencez dès maintenant à sauver en équipement technologique</p>
        </div>
    </div>
</div>
</div>

<div class="fixed-bottom container-fluid">
<div class="row">
    <div class="col"></div>
    <div class="col-2">
        <button class="btn custom-button btn-outline-primary">S'inscrire dès aujourd'hui</button>
        <p class="mb-9"></p>
        <p class="mb-9">Vous êtes déja membre TECH2BUY?</p>
        
        <a href="./pageConnexion">
            <button class="btn btn-primary custom-button">Se connecter</button></a>
    </div>
</div>
</div>

<%- include ("../partials/footer.ejs") %>