<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application evenements</title>
    <link href='https://fonts.googleapis.com/css?family=Barlow Semi Condensed' rel='stylesheet'>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/bootstrap.min.js"></script>
</head>
<style>
    .image {
        
       
        right: 0%;
        top: 0%;
    }
    h1{
        color: #000;
        text-align: center;
        font-family: "Barlow Semi Condensed";
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: normal
    }
</style>
<div class="row">
    <div class="col-8" style="width: 40%;">
        <img src="pgconnex.png" style="height: 100%; width: 100%;" class="image"/>
    </div>
    <div class="col-7">
        <center>
            <h1>Créer un compte</h1>
        </center>
        
        <div class="form-group input-group-lg">
            <label for="name">Prénom</label>
            <input type="email" class="form-control input-lg" id="courriel"  required>
        </div><br><br><br>
        <div class="form-group input-group-lg">
            <label for="name">Nom</label>
            <input type="password" class="form-control input-group-lg"  required>
        </div><br><br><br>
        <div class="form-group input-group-lg">
            <label for="email">Adresse de courriel</label>
            <input type="password" class="form-control input-group-lg"  required>
        </div><br><br><br>
        <div class="form-group input-group-lg">
            <label for="password">Mot de passe</label>
            <input type="password" class="form-control input-group-lg"  required>
        </div><br><br>
        <div class="col-3"></div>
    <a class="btn btn-primary" type="button" href="./pageAffichagePrincipale" class="col-6 btn btn-primary btn-block" role="button">Ouvrir une session</a>
    </div>
    </div>
    
</div>