<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application evenements</title>
    <link href='https://fonts.googleapis.com/css?family=Barlow Semi Condensed' rel='stylesheet'>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/bootstrap.min.js"></script>
</head>
<style>
    .image {
        
       
        right: 0%;
        top: 0%;
    }
    h1{
        color: #000;
        text-align: center;
        font-family: "Barlow Semi Condensed";
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: normal
    }
</style>
<div class="col-10">
    <img src="pgconnex.png" style="height: 100%; width: 40%;" class="image"/>
    
</div>
