<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application evenements</title>
    <link href='https://fonts.googleapis.com/css?family=Barlow Semi Condensed' rel='stylesheet'>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="commun.css" />
    <script src="/js/bootstrap.min.js"></script>
</head>
<style>
    .image {
        position: absolute;
        right: 0%;
        top: 0%;
    }
    h1 {
        color: #000;
        text-align: center;
        font-family: "Barlow Semi Condensed";
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .is-valid {
    border: 2px solid green;
    }
</style>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-7">
                <br>
                <a href="./index">
                    <button id="pageindex" type="button" class="btn link-secondary">&#8592;</button> <label for="pageindex"> Retour</label>
                </a>
                <center>
                    <h1>Ouvrir une session</h1>
                </center>
                <br><br><br><br><br><br>
                <form action="/connexion" method="post">
                    <div class="form-group input-group-lg">
                        <label for="courriel">Adresse de courriel</label>
                        <input type="email" class="form-control input-lg <%= typeof erreur !== 'undefined' ? 'is-invalid' : '' %>" id="courriel" name="courriel" required>
                        <% if (typeof erreur !== 'undefined') { %>
                            <div class="invalid-feedback">
                                Saisie incorrecte.
                            </div>
                        <% } %>
                    </div><br>
                    <div class="form-group input-group-lg">
                        <label for="motdepasse">Mot de passe</label>
                        <input type="password" class="form-control input-group-lg <%= typeof erreur !== 'undefined' ? 'is-invalid' : '' %>" id="motdepasse" name="motdepasse" required>
                        <input style="margin-top:15px;" type="checkbox" onclick="myFunction()">Afficher le mot de passe
                        <% if (typeof erreur !== 'undefined') { %>
                            <div class="invalid-feedback">
                                Saisie incorrecte.
                            </div>
                        <% } %>
                        
                            
                        <button type="submit" style="position: absolute; right: 43%; margin-top:15px; border: none; background: none; color: red;" ></i> Oublié mot de passe</button>
                    
                 
                        <script>
                            function myFunction() {
                              var x = document.getElementById("motdepasse");
                              if (x.type === "password") {
                                x.type = "text";
                              } else {
                                x.type = "password";
                              }
                            }
                            </script>
                    </div><br>
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <input class="btn btn-primary btn-lg" type="submit" value="Ouvrir une session">
                        </div>
                    </div>                    
                </form>
            </div>
            <div class="col-1">
                <img src="pgconnex.png" style="height: 100%; width: 40%;" class="image"/>
            </div>
        </div>
    </div>
    <script>
        function validerEmail() {
            const courriel = document.getElementById('courriel');
            if (courriel.value.includes('@') && courriel.value.length >= 2) {
                courriel.classList.add('is-valid');
                courriel.classList.remove('is-invalid'); 
            } else {
                courriel.classList.remove('is-valid');
                courriel.classList.add('is-invalid'); 
            }
        }
        
       
        function validerPassword() {
            const motdepasse = document.getElementById('motdepasse');
            if (motdepasse.value.length >= 1) {
                motdepasse.classList.add('is-valid');
                motdepasse.classList.remove('is-invalid'); 
            } else {
                motdepasse.classList.remove('is-valid');
                motdepasse.classList.add('is-invalid'); 
            }
        }
        
        document.getElementById('courriel').addEventListener('input', validerEmail);
        document.getElementById('motdepasse').addEventListener('input', validerPassword);
        </script>
               
</body>
    <%- include ("../partials/footer.ejs") %>