<!--Code qui permet montrer le header de tech2buy-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Affichage Principale</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="commun.css"/>
    <script src="/js/bootstrap.min.js"></script>
</head>
<link href='https://fonts.googleapis.com/css?family=Barlow Semi Condensed' rel='stylesheet'>
<header>
    <%- include("../partials/headTech2buy.ejs") %>
</header>
<!--Code qui permet montrer le header de tech2buy-->

<body>
    
</body>
</html>
<div class="container">
        <div class="row">
            <div class="col-6">
                <img src="../Images/1046a737566c6b5d5d354a6abfc6f6d4.png" class="border border-primary " width="404"
                    height="556" alt="">
            </div>
            <div class="col-6">

                <img src="../Images/3620def07c61-headphone-comp-2.jpg" class="border border-primary img-fluid"
                    width="605" height="306" alt="" style="margin: 20;">
                <img src="../Images/Microsoft-Surface.jpeg"
                    class="border border-primary rounded float-end" width="304" height="236" style="margin: 5 ;" alt="">
                <img src="../Images/Apple-TV-4K-hero-221018_big.jpg.large.jpg"
                    class="border border-primary   rounded float-end" width="304" height="236" style="margin: 5;"
                    alt="">
            </div>
        </div>

            <div class="row-md p-5">
                <img src="../Images/iphone-15-pro-finish-select-202309-6-1inch.jpg" class="col-12 border border-primary" width="991"
                    height="250">

          

            <div class="row">
                <div class="col-6">
                    <h1 class="display-3">Nouveau téléphones. <br> Noveau Ordinateurs. <br> Nouveau écouteurs. </h1>
                    <h1 class="display-1">Chez Tech2Buy</h1>

                 </div>
               
                <div class="col-6">
                    <img src="../Images/UNPK_Watch6-PR_main1.jpg" class="border border-primary img-fluid"
                    width="605" height="306" alt="" style="margin: 20;"> 
                </div>
            </div>
       
  </div>
    </div>
    <%- include("../partials/head.ejs") %>