<%- include ("../partials/header.ejs") %>

<form class="form-group">
    <div class="container">
        <br>
        <div class="row">
            <h1 class="col- col-form-label" style="text-align: left; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Ouvrir une session</h1>
    <label for="courriel">Adresse de courriel</label>
    <input type="email" class="form-control" id="courriel" placeholder="Entree Courriel" required>
        </div>
        <div class="form-group">
            <label for="motdepasse">Mot de passe</label>
            <input type="password" class="form-control" placeholder="Entree mot de passe" >
        </div>
        
    </div>
    
</form>

<div class="fixed-bottom container-fluid">
    <div class="row">
        <div class="col"></div>
        <div class="col-2">
            <button class="btn custom-button btn-outline-primary">S'inscrire dès aujourd'hui</button>
            <p class="mb-9"></p>
            <p class="mb-9">Vous êtes déja membre TECH2BUY?</p>
            
            <a href="./pageConnexion">
                <button class="btn btn-primary custom-button">Se connecter</button></a>
        </div>
    </div>
    </div>

    <%- include ("../partials/footer.ejs") %>