
<a href="page_affichage.html">&#8592; Retour</a>
   <h1 style="text-align: left; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Ouvrir une session</h1>
    <form>
       
            <label style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Adresse de courriel</label><br>
            <input type="text"  name="courriel" required>
       
<br>

    <label style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" for="">Mot de passe</label><br>
    <input type="password" name="motdepasse" required>
<br>
    <input style="background-color: rgb(74, 131, 247);" type="submit" value="Ouvrir une session">



    </form>
