<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application evenements</title>
    <link href='https://fonts.googleapis.com/css?family=Barlow Semi Condensed' rel='stylesheet'>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/bootstrap.min.js"></script>
</head>
<style>
    .image {
        position: absolute;
        right: 0%;
        top: 0%;
    }
    h1 {
        color: #000;
        text-align: center;
        font-family: "Barlow Semi Condensed";
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
</style>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-7">
                <br>
                <a href="./index">
                    <button id="pageindex" type="button" class="btn link-secondary">&#8592;</button> <label for="pageindex"> Retour</label>
                </a>
                <center>
                    <h1>Ouvrir une session</h1>
                </center>
                <br><br><br><br><br><br>
                <form action="/connexion" method="post">
                    <div class="form-group input-group-lg">
                        <label for="courriel">Adresse de courriel</label>
                        <input type="email" class="form-control input-lg" id="courriel" name="courriel" required>
                    </div><br>
                    <div class="form-group input-group-lg">
                        <label for="motdepasse">Mot de passe</label>
                        <input type="password" class="form-control input-group-lg" id="motdepasse" name="motdepasse" required>
                    </div><br>
                    <div class="row">
                        <div class="col-3"></div>
                        <button type="submit" class="btn btn-primary btn-block col-6">Ouvrir une session</button>
                    </div>
                </form>
            </div>
            <div class="col-1">
                <img src="pgconnex.png" style="height: 100%; width: 40%;" class="image"/>
            </div>
        </div>
    </div>
</body>
    <%- include ("../partials/footer.ejs") %>