<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paramètres</title>
    <link href='https://fonts.googleapis.com/css?family=Barlow Semi Condensed' rel='stylesheet'>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="commun.css"/>
    <script src="/js/bootstrap.min.js"></script>
</head>
<header>
    <%- include("../partials/headTech2buy.ejs") %>
</header>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 offset-lg-2"></div>
                <h1>Informations Personnelles</h1>
                <form method="POST" action="/parametreUtilisateur">
                    
                    <div class="col-4">
                        <label for="nom_utilisateur">Nom d'utilisateur</label>
                        <input type="text" class="form-control" id="nom_utilisateur" name="nom_utilisateur" placeholder="Entrez votre nouveau nom utilisateur">
                        <input type="hidden" name="id_utilisateur" value="&lt;%= id_utilisateur %&gt;">
                    </div>
                    <br>
                    <div class="col-4">
                        <label for="adresse_courriel">Adresse courriel</label>
                        <input type="email" class="form-control" id="adresse_courriel" name="adresse_courriel" placeholder="Entrez votre nouvelle adresse courriel">
                        <input type="hidden" name="id_utilisateur" value="&lt;%= id_utilisateur %&gt;">
                    </div>
                    <br>
                    <div class="col-4">
                        <label for="adresse">Adresse</label>
                        <input type="text" class="form-control" id="adresse" name="adresse" placeholder="Entrez votre adresse">
                        <input type="hidden" name="id_utilisateur" value="&lt;%= id_utilisateur %&gt;">
                    </div>
                    <br>
                    <div class="col-4">
                        <label for="code_postal">Code postal</label>
                        <input type="text" class="form-control" id="code_postal" name="code_postal" placeholder="Entrez votre code postal">
                        <input type="hidden" name="id_utilisateur" value="&lt;%= id_utilisateur %&gt;">
                    </div>
                    <br>
                    <div class="col-4">
                        <label for="ville">Ville</label>
                        <input type="text" class="form-control" id="ville" name="ville" placeholder="Entrez votre ville">
                        <input type="hidden" name="id_utilisateur" value="&lt;%= id_utilisateur %&gt;">
                    </div>
                    <br>
                    <div class="col-4">
                        <label for="pays">Pays</label>
                        <input type="text" class="form-control" id="pays" name="pays" placeholder="Entrez votre pays">
                        <input type="hidden" name="id_utilisateur" value="&lt;%= id_utilisateur %&gt;">
                    </div>
                    <br>
                    
                    <div class="col-4">
                        <input class="btn btn-primary" class="btn btn-primary btn-block col-8"  type="submit"
                        value="Sauvegarder">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>