<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Changer le mot de passe | TECH2BUY</title>
    <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/custom.css" />
    <script src="/js/bootstrap.min.js"></script>
</head>
<%- include ("../partials/header.ejs") %>
    <style>
        body,
        html {
            height: 100%;
            margin: 0;
            font-family: "Barlow Semi Condensed", sans-serif;
            background-image: linear-gradient(200deg,
                    rgba(171, 171, 171, 0.05) 0%,
                    rgba(171, 171, 171, 0.05) 23%,
                    rgba(90, 90, 90, 0.05) 23%,
                    rgba(90, 90, 90, 0.05) 48%,
                    rgba(65, 65, 65, 0.05) 48%,
                    rgba(65, 65, 65, 0.05) 61%,
                    rgba(232, 232, 232, 0.05) 61%,
                    rgba(232, 232, 232, 0.05) 100%),
                linear-gradient(126deg,
                    rgba(194, 194, 194, 0.05) 0%,
                    rgba(194, 194, 194, 0.05) 11%,
                    rgba(127, 127, 127, 0.05) 11%,
                    rgba(127, 127, 127, 0.05) 33%,
                    rgba(117, 117, 117, 0.05) 33%,
                    rgba(117, 117, 117, 0.05) 99%,
                    rgba(248, 248, 248, 0.05) 99%,
                    rgba(248, 248, 248, 0.05) 100%),
                linear-gradient(144deg,
                    rgba(64, 64, 64, 0.05) 0%,
                    rgba(64, 64, 64, 0.05) 33%,
                    rgba(211, 211, 211, 0.05) 33%,
                    rgba(211, 211, 211, 0.05) 50%,
                    rgba(53, 53, 53, 0.05) 50%,
                    rgba(53, 53, 53, 0.05) 75%,
                    rgba(144, 144, 144, 0.05) 75%,
                    rgba(144, 144, 144, 0.05) 100%),
                linear-gradient(329deg, rgb(146, 196, 255), rgb(146, 196, 255));
        }

        .bg-image {
            background-image: url("backgroundImage.jpg");
            background-size: cover;
            background-position: center;
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

        .login-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 35%;
            padding: 20px;
            background: rgba(3, 66, 201, 0.054);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            border-radius: 8px;
        }

        .login-form {
            margin-top: 20px;
        }

        .form-control {
            background: transparent;
            border-radius: 20px;
            border: none;
            color: rgb(0, 0, 0);
            padding: 10px 20px;
            margin-bottom: 20px;
        }

        .btn-primary {
            border-radius: 20px;
            padding: 10px 20px;
            width: 100%;
            background-color: #007bff;
            border: none;
        }

        .login-form a {
            color: #ddd;
        }

        .login-form h3 {
            color: #fff;
            text-align: center;
            margin-bottom: 30px;
        }

        .form-group {
            position: relative;
        }

        .form-group i {
            position: absolute;
            top: 13px;
            left: 10px;
            color: #999;
        }

        .form-control::placeholder {
            color: white;
            opacity: 1;
        }
    </style>

    <body>
        <form method="POST" action="/updatePasswordDeLink/<%= email %>" onsubmit="return validation()">
            <section class="vh-100">
                <div class="container h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-lg-12 col-xl-11">
                            <div class="card text-black" style="border-radius: 25px">
                                <div class="card-body p-md-5">
                                    <div class="row justify-content-center">
                                        <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                            <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                                                Changer le mot de passe
                                            </p>

                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                                <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                                    <label for="newPassword">Nouveau mot de passe</label>
                                                    <input type="password" class="form-control" id="newPassword"
                                                        name="newPassword" style="border: 1px solid black;" required>
                                                </div>
                                            </div>

                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                                <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                                    <label for="confirmNewPassword">Confirmer le nouveau mot de
                                                        passe</label>
                                                    <input type="password" class="form-control" id="confirmNewPassword"
                                                        name="confirmNewPassword" style="border: 1px solid black;"
                                                        required>
                                                    <span id="msgDeValidationMDP" style="color:red"></span>
                                                </div>

                                            </div>




                                        </div>
                                        <div
                                            class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                            <img src="../Images/resetpassword-removebg-preview.png" class="img-fluid"
                                                style="margin-left: 30%" height="250" width="250" alt="" />
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row justify-content-center">
                                            <div class="col-8">
                                                <button class="btn btn-primary" type="submit">Changer le mot de
                                                    passe</button>
                                            </div>


                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>

            </section>

        </form>

        <div>
            <%- include ("../partials/footer.ejs") %>
        </div>

    </body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function validatePasswordFields() {
        var newPassword = $("#newPassword").val();
        var confirmPassword = $("#confirmNewPassword").val();

        if (newPassword !== confirmPassword) {
            $("#msgDeValidationMDP").html("Les nouveaux mots de passe ne correspondent pas.");
            return false;
        } else {
            $("#msgDeValidationMDP").html("");
            return true;
        }
    }

    function validation() {
        if (!validatePasswordFields()) {
            return false;
        }

        var newPassword = $("#newPassword").val();

        var strongRegex = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})");
        if (!strongRegex.test(newPassword)) {
            $("#msgDeValidationMDP").html("Le nouveau mot de passe doit comporter au moins 8 caractères et contenir au moins une lettre minuscule, une lettre majuscule, un chiffre numérique et un caractère spécial.");
            return false;
        }
        return true;
    }
</script>