<!DOCTYPE html>
<html lang="en">


<!-- <div style="position: relative; bottom: 0%; width: 100%;">
  <footer class="text-center text-lg-start" style="background-color: #C0DDFF;" >
    <div class="container d-flex justify-content-center py-9">
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-5" style="background-color: #000000;">
      </button>
      <h7 style="color: rgb(0, 0, 0);">Nulla nisl sem, facilisis vel accumsan at, fringilla et tortor. Mauris in sem imperdiet urna vehicula ullamcorper.</h7>
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-5" style="background-color: #000000;">   
      </button>
    </div> -->

    <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2); float: right; clear: both; width: fit-content;">
      <h7 style="color: rgb(0, 0, 0);">© 2024 Tech2BUY</h7>
    </div>
  </footer>
  
<div style="position:relative; bottom: 0%;  background-color: #C0DDFF;"><hr style="block-size: 2ch;">
    <footer class="footer-48201">
        <div class="container">
        <div class="row">
        <div class="col-md-4 pr-md-5">
        <a href="#" class="footer-site-logo d-block mb-4"><img src="output-onlinepngtools 1.png" height="40px" width="90px"></a>
        <p>Tech2Buy est d'abord une entreprise dans lequel la confiance des usagers est au coeur de ses préoccupations.</p>
        </div>
        <div class="col-md">
        <ul class="list-unstyled nav-links">
            <h3>Team</h3>
            <li><a href="https://github.com/ridhadosh">Mohamad-Ridha</a></li>
            <li><a href="https://github.com/Nolifkage">Dave-Hardens</a></li>
            <li><a href="https://github.com/earaj">Earaj</a></li>
            <li><a href="https://github.com/Thanushan123">Thanushan</a></li>
        </ul>
        </div>
       
       
        
       
        <div class="col-md">
        <ul class="list-unstyled nav-links">
            <h3>Connexe</h3>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms &amp; Conditions</a></li>
        <li><a href="#">Partners</a></li>
        </ul>
        </div>
        <div class="col-md text-md-center">
        <ul class="social list-unstyled">
        <li><a href="#"><span class="icon-instagram"></span></a></li>
        <li><a href="#"><span class="icon-twitter"></span></a></li>
        <li><a href="#"><span class="icon-facebook"></span></a></li>
        <li><a href="#"><span class="icon-pinterest"></span></a></li>
        <li><a href="#"><span class="icon-dribbble"></span></a></li>
        </ul>
        <p class=""><a href="#" class="btn btn-tertiary">Contact Us</a></p>
        </div>
        </div>
        <div class="row ">
        <div class="col-12 text-center">
        <div class="copyright mt-3 pt-3">
        <p><small>© 2024 Tous les droits sont réservé.</small></p>
        </div>
        </div>
        </div>
        </div>
        </footer>
</div>
<body>

