<!DOCTYPE html>
<html lang="en">


<div style="position: relative; bottom: 0%; width: 100%;">
  <footer class="text-center text-lg-start" style="background-color: #C0DDFF;" >
    <div class="container d-flex justify-content-center py-9">
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-5" style="background-color: #000000;">
          </button>
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-5" style="background-color: #000000;">   
      </button>
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-5" style="background-color: #000000;">
      </button>
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-5" style="background-color: #000000;">   
      </button>
    </div>

    <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 Tech2BUY
    </div>
  </footer>
  
</div>

