<nav class="navbar navbar-expand-lg navbar-light themePrincipal">
	<a href="./pageAffichagePrincipale" class="nav-brand" style="margin-left: 5%;">
		<img src="output-onlinepngtools 1.png" style="height: 80px; width: 200px; margin-right: 40px;" />
	</a>
	<ul class="navbar-nav mr-auto">
		<li class="nav-item active" style="margin-right: 700px;">
			<form action="/recherche" method="get">
				<input name="query" class="nav-item form-control" type="text" placeholder="Rechercher Tech2buy">
				<button type="cherche" style="margin-top: -30px; margin-left: 250px;">Search</button>
			</form>
		</li>
	</ul>

	<a class="nav-link" href="/parametreUtilisateur" style="font-size:larger">
		<img src="image 4.png">Paramètre d’utilisateur</a>
	&nbsp;&nbsp;
	<a class="nav-link " href="/panier" style="font-size:larger">
		<img src="image 3.png"> Panier</a>
	&nbsp;&nbsp;&nbsp;&nbsp;
	<a class="nav-link" href="/deconnect" style="font-size: larger;">
		<img src="logout.png" style="height: 7%; width: 7%;"> Déconnexion
	</a>
</nav>