<nav class="navbar navbar-expand-lg navbar-light themePrincipal">
	<a href="./pageAffichagePrincipale" class="nav-brand" style="margin-left: 5%;">
		<img src="output-onlinepngtools 1.png" style="height: 80px; width: 200px; margin-right: 40px;" />
	</a>
	<ul class="navbar-nav mr-auto">
		<li class="nav-item active" style="margin-right: 700px;">
			<form>
				<input class="nav-item form-control" type="search" placeholder="Rechercher Tech2buy">
				<button type="submit" style="margin-top: -30px; margin-left: 250px;">Search</button>
			</form>
		</li>
	</ul>
	
	<a class="nav-link" href="#" style="font-size:larger">
		<img src="image 4.png">Paramètre d’utilisateur</a>
	<a class="nav-link " href="/panier" style="font-size:larger">
		<img src="image 3.png"> Panier</a>
</nav>