.themePrincipal{
    background-color: #C0DDFF;
}

button[type="cherche"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("image 2.png") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
  }
  
  button[type="cherche"]:hover {
    opacity: 1;
  }

  input[type="search"]:focus {
    box-shadow: 0 0 3px 0 #1183d6;
    border-color: #1183d6;
    outline: none;
  }

  input[type="search"]::placeholder {
    color: #bbb;
  }

  a{
    color: #000;
    font-family: "Barlow Semi Condensed";
    font-weight: 400;
  }
  
  .product {
    border: 1px solid #ddd;
    padding: 10px;
    width: 30%;
}
  
.dropdown-submenu .dropdown-menu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}


.product-name {
    color: #0055a6; /* Couleur typique de Best Buy */
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
}

.btn-primary {
    background-color: #0046be; /* Bouton bleu Best Buy */
    border-color: #0046be;
}

body{
  background:#F0F8FF;
  }

.col{
    border-radius: 2%;
    color: black;
}